.header {
    padding: 15px;
    &__wrapper {
        @include wrapperSpaceBetveen;
    }
    &__logo {
        width: 200px;
        height: 100px;
    }
    &__menu {
        &-list {
            @include wrapperCenter;
            gap: 20px;
            &--link {
                @include styleDescr;
                color: $darkColorText;
            }
        }
    }
    &__btn {
        @include styleBtn;
        width: 250px;
    }
}