.product {
    padding: 50px 15px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, auto));
        grid-template-rows: minmax(500px, auto);
        grid-auto-rows: minmax(500px, auto);
        gap: 20px;
    }
    &__item {
        background-color: $grayColor;
        border-radius: 20px;
        padding: 20px 40px;
        &-img {
            width: 100%;
            height: 300px;
            margin-bottom: 40px;
        }
        &-title {
            @include styleSubtitle;
            color: $darkColorText;
            margin-bottom: 20px;
        }
        &-descr {
            @include styleDescr;
            color: $darkColorText;
            margin-bottom: 40px;
        }
        &-btn {
            @include styleBtn;
        }
    }
}